body {
  background: linear-gradient(
    87.4deg,
    rgb(255, 241, 165) 1.9%,
    rgb(200, 125, 76) 49.7%,
    rgb(83, 54, 54) 100.5%
  );
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
  margin: 0 0 5px;
  font-size: 30px;
}

select {
  font-size: 18px;
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.container {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  color: #25161b;
  max-width: 600px;
  padding: 30px;
  margin: 60px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.city {
  display: flex;
  margin: 10px 0;
  padding: 25px 0;
  justify-content: space-between;
  border-bottom: 2px dashed #975a5e;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.8;
  color: #975a5e;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
}

footer {
  color: #25161b;
  text-align: center;
  font-size: 18px;
}

a {
  color: #25161b;
}
